/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts and other global styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Fallback to sans-serif */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* You can add any additional global styles here */
/* For example, to ensure full height for the app */
#root {
  min-height: 100vh;
  display: flex; /* Ensure flex behavior for App component to stretch */
  flex-direction: column;
}
